/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
img{
  display: block;
  margin: 0 auto;
  height: 500px;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/

h3 {
  width: 50%;
  margin: auto;
}